body {
    background-color: rgb(200, 241, 237);
    display: flex;
}

body::after {
    content: "";
    background: url(https://image.flaticon.com/icons/svg/3069/3069165.svg);
    background-size: 100px;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#dados {
    display: block;
    text-align: center;
    width: 500px;
    height: 550px;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(5, 201, 181);
    box-shadow: 8px 8px rgb(162, 168, 166);
    border: white solid 4px;
}

#dados aside img {
    width: 100px;
    margin: 50px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
}

label {
    font-size: 15pt;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: white;
    margin: 10px;
}

p {
    font-size: 14pt;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(17, 90, 80)
}

input {
    width: 150px;
    height: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    text-align: center;
    border: none;
}

button {
    outline: 0;
    width: 130px;
    height: 40px;
    margin: 30px;
    display: block;
    position: relative;
    left: 32%;
    border-radius: 5px;
    background-color: rgb(21, 102, 102);
    border: none;
    color: white;
    font-size: 15pt;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: rgb(240, 212, 248);
    color: black;
    transition: 500ms;
}

#resultado {
    margin: 30px;
    margin-top: 0;
    text-align: center;
    padding: 10px;
    font-size: 15pt;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: black;
}